<h2>Contacto</h2>

<div id="cajacontacto">
  <form #formContacot = "ngForm" (ngSubmit)="onSubmit()">
    <p>
    Nombre:<br>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre"><br>
    </p>
    <p>
    Apellido:<br>
    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido"><br>
    </p>
    <p>
    Email:<br>
    <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email"><br>
    </p>
    <p>
    Mensaje:<br>
    <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" ></textarea><br>
    </p>
    <p>
    <input type="submit" value="Enviar">
    </p>

  </form>
</div>
